/* Contenedor del menú */
#menu-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas fijas */
    gap: 20px; /* Espacio entre los elementos */
    justify-items: center; /* Centra los elementos dentro de sus celdas */
    margin-bottom: 40px;
    width: 100%;
    max-width: 1200px; /* Limita el ancho máximo */
    padding: 30px;
    margin-left: auto; /* Centra el contenedor horizontalmente */
    margin-right: auto; /* Centra el contenedor horizontalmente */
}

/* Elementos del menú */
#menu-container .menu-item {
    display: block;
    background-color: #333333; /* Fondo oscuro para los elementos */
    color: #A79F91; /* Color dorado suave para el texto */
    padding: 20px;
    border: 1px solid #4A4A4A; /* Borde sutil para resaltar */
    border-radius: 8px; /* Bordes más redondeados */
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s ease-in-out;
    width: 100%;  /* Asegura que ocupe todo el ancho disponible dentro de su celda */
    max-width: 300px; /* Limita el ancho máximo de los elementos del menú */
    box-sizing: border-box;  /* Asegura que el padding no afecte el tamaño del elemento */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hover en los elementos del menú */
#menu-container .menu-item:hover {
    background-color: #A79F91; /* Color dorado suave al pasar el mouse */
    color: #1C1C1C; /* Texto oscuro cuando se hace hover */
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Sombra sutil para darle profundidad */
}

/* Contenedor del botón de regresar */
#back-button-container {
    margin-top: 30px;
    text-align: center;
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

/* Estilos para el botón de regresar */
#back-button-container #back-button {
    background-color: #4A4A4A; /* Un gris oscuro más elegante para el botón */
    color: #E0E0E0;
    border: none;
    padding: 12px 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 1.1em;
    font-weight: 500;
    width: auto;  /* El ancho del botón se ajusta al contenido */
    margin: 0 auto;  /* Centra el botón */
}

/* Hover en el botón de regresar */
#back-button-container #back-button:hover {
    background-color: #333333; /* Fondo más oscuro cuando se hace hover */
    transform: scale(1.05);
}
